<ul class="nav nav-tabs" n:ifAllowed="edit list">
  <li n:class="$presenter->isLinkCurrent('List:view') ? active">
    <a n:href="view $date->format('Y-m-d')">zobraziť</a></li>
  <li n:class="$presenter->isLinkCurrent('List:edit') ? active">
    <a n:href="edit $date->format('Y-m-d')">upraviť</a></li>
  <li>
    <a href="javascript:window.print()">vytlačiť</a></li>
</ul>
