{block #title}vytvoriť | {$date->format('j. n.')}{/block}

{block #content}

<h1>vytvoriť zastupovačku</h1>

<ul class="nav nav-tabs" n:ifAllowed="edit list">
  <li>
    <a n:href="view $date->format('Y-m-d')">zobraziť</a>
  </li>
  <li class="active">
    <a n:href="create $date->format('Y-m-d')">vytvoriť</a>
  </li>
</ul>

{include @form.latte}
