{block #content}

<p>Všetky zastupovačky, zoradené podľa dátumu.</p>

<ul>
  <li n:foreach="$lists as $list">
    <a n:href="view $list->date->format('Y-m-d')">{$list->date->format('d. n. Y')}</a>
  </li>
</ul>
