{block #title}Upraviť | {$date->format('j. n.')}{/block}

{block #content}

<h1>upraviť zastupovačku</h1>

<ul class="nav nav-tabs list-tabs" n:ifAllowed="edit list">
  <li>
    <a n:href="view $date->format('Y-m-d')">zobraziť</a>
  </li>
  <li class="active">
    <a n:href="edit $date->format('Y-m-d')">upraviť</a>
  </li>
</ul>

{include @form.latte}


