{block #title}Moje absencie{/block}

{block #content}
<h1>moje absencie</h1>

<table class="table absentions">
  <thead>
    <tr>
      <th>dátum</th>
      <th>hodiny</th>
    </tr>
  </thead>
  <tbody>
    <tr n:foreach="$absentions as $absention">
      <td>{$absention->date->format('j. n. Y')}</td>
      <td>{$presenter->resolveHours($absention->hours)|implode:', '}</td>
    </tr>
  </tbody>
</table>
