parameters:
  ssh:
    host: localhost
    port: 22

php:
  date.timezone: Europe/Bratislava
  # session.save_path: "%tempDir%/sessions"
  # zlib.output_compression: yes


services:
  database:
    class: Nette\Database\Connection(
      '%database.driver%:host=%database.host%;dbname=%database.dbname%'
      %database.user%
      %database.password%
    )
    setup:
      - setCacheStorage(...)
      - setDatabaseReflection( Nette\Database\Reflection\DiscoveredReflection() )
  
  authenticator:
    class: SSHAuthenticator(..., %ssh.host%, %ssh.port%)
  
  authorizator:
    class: ACL


factories:
