{block #content}

<h1>stránka nenájdená :(</h1>

<p>možno si spravil chybu v adrese. ak si sa sem dostal cez odkaz na tejto stránke, môžeš nám <a n:href="Bug:report">napísať :)</a></p>

<p><small>chyba 404</small></p>
