<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{ifset #title}{include #title} | {/ifset}Zastupovačka</title>

	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body n:class="$user->loggedIn ? logged-in">
	<script> document.body.className+=' js' </script>

	<div class="container-fluid" id="wrapper">

		<div class="row-fluid">
			<div class="span9" id="content">

				<div n:foreach="$flashes as $flash" class="alert-message {$flash->type}">{$flash->message}</div>

				{include #content}
			</div>

			<div class="span3" id="sidebar">
				<ul class="nav nav-list">
					{if $user->loggedIn}
					<li class="nav-header">{$user->identity->first_name} {$user->identity->surname}</li>
					<li><a n:href="Sign:out">odhlásiť sa</a></li>
					{else}
					<li><a n:href="Sign:in">prihlásiť sa</a></li>
					{/if}

					{if $user->loggedIn}
					<li class="nav-header">absencie</li>
					<li n:ifAllowed="report absention">
						<a n:href="Absention:report">nahlásiť absenciu</a>
					</li>
					<li n:ifAllowed="viewMine absention">
						<a n:href="Absention:default">moje absencie</a>
					</li>
					{/if}

					<li class="nav-header">zastupovačky</li>
					<li n:ifAllowed="create list">
						<a n:href="List:create">vytvoriť novú</a>
					</li>
					<li><a n:href="List:view today">dnes</a></li>
					<li><a n:href="List:view tomorrow">zajtra</a></li>
					<li n:foreach="$__lists as $list">
						<a n:href="List:view $list->date->format('Y-m-d')">{$list->date->format('d. n.')}</a>
					</li>
					<li><a n:href="List:default">všetky</a></li>
			</div>
		</div>

	</div>
</body>
</html>
