body {
	padding-top: 40px;
}

h1 {
	margin-bottom: 20px;
}

#wrapper {
  padding-top: 20px;
}

.logged-in table.list {
  margin-top: -19px;
}

table.list .class,
table.list .hour,
table.list .subject {
	width: 10%;
}

table.list .teacher,
table.list .substitute {
	width: 35%;
}

#sidebar li {
	line-height: 30px;
}

a[href^="error:"] {
	background: red;
	color: white;
}
