body {
	padding-top: 40px;
}

h1 {
	margin-bottom: 20px;
}

#wrapper {
  padding-top: 20px;
}

.logged-in table.list {
  margin-top: -19px;
}

table.list .class,
table.list .hour,
table.list .subject {
	width: 10%;
}

table.list .teacher,
table.list .substitute {
	width: 35%;
}

table.list.edit input {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  margin: 0;
}

table.list.edit td.add {
  text-align: center;
}

table.list.edit td.add input {
  width: auto;
}

table.list.edit input.error {
  border-color: #B94A48;
  color: #B94A48;
}

table.list.edit td.teacher,
table.list.edit td.substitute {
  padding-right: 48px;
  position: relative;
}

table.list.edit input.remove {
  width: 35px;
  font-size: 20px;
  font-weight: bold;
  color: #777;
  position: absolute;
  right: 5px;
  top: 8px;
}

table.list input.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

#sidebar li {
	line-height: 30px;
}

.fake-hidden {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.brand .version {
  color: #999;
}

a[href^="error:"] {
	background: red;
	color: white;
}

@media print {
  #navbar, #sidebar, .list-tabs {
    display: none;
  }

  body {
    padding: 0px;
  }
}
